@import './styles/Design.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  line-height: 1.6;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
